/* usaer detail panel */
.main {
  background: #ffd5b8;
  margin-bottom: 10px;
}
.side {
  background: #ffe9c4;
}
.main,
.side {
  padding: 2%;
  border-radius: 5px
}

@media ( min-width : 600px ){
	.flexbox {
    display: -webkit-flex;
    display: flex;
    margin:20px;
	}
  .main {
    margin: 0 10px 0 0;
  }
}

/* list of user accounts */
mat-list mat-list-item.selected {
  background-color:#f44336 !important;
  color:white;
  border-left:3px solid #000000;
}

mat-list .userAccountFocus {
  background-color:white;
  cursor:pointer;
}

/* user info change outline color */
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: green;
}

.d-none {
  background-color:red;
  display:none;
}

.successfully-saved {
  display:block !important;
  background-color:#38d185;
  color:white;
  text-align:center;
  padding:20px;
  margin:10px;
  font-size:16px;
  border-radius:5px;
}

.validate-required {
  display:block !important;
  background-color:#e0555a;
  color:white;
  text-align:center;
  padding:10px;
  margin:10px;
  font-size:16px;
  border-radius:5px;
}